/.vscode
/cr7.exe
/main.inp
/main.out
/pviGiatri
build/Debug/outDebug.exe
timUOC.exe
build/Debug/timUOC.o
.gitignore
rutgonPSO.exe
timSNT.cpp
tempCodeRunnerFile.cpp
tempCodeRunnerFile.exe
timAnso.exe
tpSangnp.exe
maxMang.exe
2ndmaxMang.exe
maxChiSo.exe
build/Debug/maxChiSo.o
timKiem.exe
hocDemMang.exe
tinhMean.exe
bdoiMang.exe
soThu11.cpp
test.cpp
test.exe
timSoNguyen.exe
build/Debug/timSoNguyen.o

sxMangGiam.exe
findChenhLech.exe
